body {
    background: rgb(172, 245, 235);
}


section div {
    display: inline
}

#survey-board {
    text-align: center
}

h1 {
    text-align: center;
    color: rgb(125, 177, 170);
    font-size: 75px 
}

.row-one img{
    width: 20%;
    padding: 5px
}

div {
    display: inline block
}

.chart-section {
    width: 550px;
}

#chart {
    width: 50%
}