body {
    background: rgb(253, 253, 253);
    background-image: url("../Images/trimet.jpg");
    background-size: 2000px;
}


section div {
    display: inline
}

#survey-board {
    margin: auto;
    background-color: rgb(139, 139, 139);
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    color: rgb(63, 63, 63);
    font-size: 75px 
}

nav {
    display: flex;
    justify-content: center
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    width: 400px;
    cursor: pointer
}

.row-one img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    padding: 5px
}

#chart-section {
    height: 50%;
    width: 100%
}

#chart-section1 {
    /* background-color: white; */
    display: flex;
    justify-content: center
}

#chart1 {
    background-color: white;
}

#settings-form {
   text-align: center;
   margin-top: 200px;
   background-color: rgb(139, 139, 139);
   color: white
}

#settings-form input {
    color: black
}

