body {
    background: rgb(172, 245, 235);
}


section div {
    display: inline
}

#survey-board {
    margin: auto;
    background-color: rgb(125, 177, 170);
    text-align: center;
    border-color: palevioletred solid 5px
}

h1 {
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(125, 177, 170);
    font-size: 75px 
}

.row-one img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    padding: 5px
}

#chart-section {
    height: 200px;
    width: 500px
}

#chart2 {
    float: right
}

