section div {
    display: inline
}

body main {
    align-content: center
}

h1 {
    text-align: center;
    background-color: grey
}

.row-one img{
    width: 20%;
    padding: 5px
}

#chart {
    width: 50%
}