body {
    background: rgb(172, 245, 235);
}


section div {
    display: inline
}

body main {
    align-content: center
}

h1 {
    text-align: center;
    background-color: grey;
    font-size: 75px 
}

#survey-board {
    align-content: center
}

.row-one img{
    width: 20%;
    padding: 5px
}

#chart-section {
    align-content: center;
    width: 700px;
}

#chart {
    width: 50%
}